* {
    max-width: 1512px;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Unicase', 'Noto Sans JP', sans-serif;
    color: #3D3D3D;
    text-decoration: none;
    font-weight: 400;
}

/* header部分のcss */
header {
    display: flex;
    justify-content: space-between;
}

.sub_title {
    color: #5B5B5B;
    width: 256px;
    height: auto;
    font-size: 32px;
    line-height: 80px;
    margin: 56px 0 40px 20px;
}

.back_btn {
    color: #000000; 
    font-size: 36px;
    text-decoration: none;
    width: 160px;
    height: 160px;
    margin: 0 84px 0 232px;
    border: 1px solid #000000;
    border-radius: 50%;
    text-align: center;
    line-height: 160px;
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    left: 1268px;
}

/* title部分のcss */
.menu_title {
    display: flex;
    width: 1400px;
    height: 136px;
    margin-bottom: 64px;
    position: relative;
    margin-left: 36px;
}

.title {
    line-height: 64px;
    letter-spacing: 10%;
}

.title_en {
    font-size: 64px;
}

.title_ja {
    font-size: 64px;
}

.menu_title img {
    width: 1360px;
    height: 96px;
    opacity: 50%;
    object-fit: cover;
    position: absolute;
    top: 40px;
    left: 40px;
}